@model IEnumerable<MoviesWebApplication.ArtistsJobsInMovie>

<h1>Роботи артиста: @ViewBag.CurrentArtistName</h1>

@{
    if (User.IsInRole("admin"))
    {
        <form method="post" asp-controller="ArtistsJobsInMovies" asp-action="Create" asp-route-currentArtistId="@ViewBag.CurrentArtist.Id">
            <input type="submit" value="Додати роботу артиста" />
        </form>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Movie.Name, "Details", "Movies", routeValues: new {id = @item.Movie.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                        }
                    }
             </td>
        </tr>
        }
    </tbody>
</table>

<div>
   @Html.ActionLink("Повернутися назад", "ArtistList" ,"Artists" )
 </div>
