@model MoviesWebApplication.ArtistsJobsInMovie

<h1>Видалення</h1>

<h3>Ви впевнені, що хочете видалити фільм "@Model.Movie?.Name" як роботу артиста  "@Model.Artist?.Name"</h3>
<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="ArtistMoviesList" asp-route-genreId="@ViewBag.CurrentArtist.Id">Повернутися назад</a>
    </form>
</div>
