@model IEnumerable<MoviesWebApplication.MoviesInPlaylist>


<h2>Фільми, що входять до підбірки "@ViewBag.CurrentPlaylist.Name"</h2>

@{
    if (@User.Identity.Name == @ViewBag.PlaylistUserName || User.IsInRole("admin"))
    {
        <form method="post" asp-controller="MoviesInPlaylists" asp-action="Create" asp-route-currentPlaylistId="@ViewBag.CurrentPlaylist.Id">
            <input type="submit" value="Додати фільм до підбірки" />
        </form>

    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Movie.Name, "Details", "Movies", routeValues: new {id = @item.Movie.Id})
                </td>

                @{
                    if (@User.Identity.Name == @ViewBag.PlaylistUserName || User.IsInRole("admin"))
                    {
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Повернутися назад", "PlayList" ,"Playlists" )
</div>

